/* Global styling */
main {
  max-width: 1192px;
  margin: auto;
  padding: 0rem var(--spacing-100);
}

picture img {
  border-radius: var(--radius-12);
}

.our-mission {
  padding-top: var(--spacing-600);
  padding-bottom: var(--spacing-800);
}

.our-mission-text-wrapper > h2 {
  margin: var(--spacing-300) 0rem;
  font-weight: 800;
}

.our-mission-text-wrapper > p {
  margin-bottom: var(--spacing-200);
}

.our-mission-tag {
  background-color: var(--Orange-500);
  padding: 2px 6px;
  color: var(--Neutral-900);
  border-radius: var(--radius-6);
  font-weight: 700;
  font-size: var(--Text-present-5);
}

.why-we-exist {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-600) 0rem;
}

.why-we-exist > h2 {
  margin-bottom: var(--spacing-500);
  font-weight: 800;
}

li > h3 {
  font-size: var(--Text-present-4);
  color: var(--Neutral-900);
}

.bullet-point-container {
  margin: var(--spacing-300) 0rem;
}

.bullet-point-container > p {
  padding-left: 50px;
  margin-top: var(--spacing-150);
}

.bullet-point-container > li {
  display: flex;
  gap: var(--spacing-250);
}

.beyond-the-plate {
  padding: var(--spacing-600) 0rem;
}

.beyond-the-plate-content > p {
  margin-top: var(--spacing-200);
  margin-bottom: var(--spacing-150);
}

.beyond-the-plate-ul {
  padding-left: var(--spacing-400);
  margin-bottom: var(--spacing-300);
  font-size: 1.25rem;
  color: var(--Neutral-600);
}

@media screen and (min-width: 48em) and (max-width: 67.99em) {
}

/* Desktop breakpoint */
@media screen and (min-width: 64em) {
  .why-we-exist > ul {
    display: flex;
    flex-direction: column;
    max-width: 756px;
  }

  .our-food-philosophy > ul {
    display: flex;
    flex-direction: column;
    max-width: 756px;
  }
  .our-mission {
    display: flex;
    align-items: center;
    gap: var(--spacing-800);
  }

  .our-food-philosophy {
    display: flex;
    gap: var(--spacing-800);
  }
}
