main {
  max-width: 1192px;
  margin: auto;
  padding: 0rem var(--spacing-200);
}

.explore-our-simple-recipe > h2 {
  font-weight: 800;
  text-align: center;
}

.explore-our-simple-recipe > p {
  margin: auto;
  text-align: center;
  max-width: 724px;
}

.healthy-recipes {
  display: grid;
  gap: var(--spacing-400);
  align-items: stretch;
  margin-top: var(--spacing-300);
}

select {
  cursor: pointer;
}

select,
.search-recipes {
  border: none;
  border-radius: var(--radius-10);
  width: 180px;
  padding: 0.7rem 1rem;
  border: 1px solid var(--Neutral-300);
}

.search-recipes {
  width: 320px;
  padding-left: 35px;
}

.search-wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 15px;
}

.option-wrapper {
  display: flex;
  flex-direction: row;
}

.select-time-option-wrapper {
  display: flex;
  flex-direction: row;
}

.recipe-card,
picture img {
  border-radius: var(--radius-10);
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 746px;
  height: 100%;
  gap: 16px;
  background-color: var(--Neutral-0);
  padding: var(--spacing-100);
}

.recipe-card > h2 {
  font-size: var(--Text-present-5);
}

.recipe-card-icons span,
.cook-icon {
  display: flex;
}

.recipe-card-icons {
  display: flex;
  gap: var(--spacing-200);
}

.view-recipe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  border: none;
  color: white;
  background-color: var(--Neutral-900);
  cursor: pointer;
  height: 48px;
  border-radius: var(--radius-full);
  font-weight: 600;
}

.select-time-option-wrapper {
  display: flex;
  gap: 1rem;
}

.option-wrapper {
  display: flex;
  justify-content: space-between;
}

/*Mobile breakpoint*/
@media screen and (max-width: 47.99em) {
  #loader {
    grid-column: 1;
  }

  .explore-our-simple-recipe {
    margin-top: var(--spacing-600);
  }

  .option-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .select-time-option-wrapper {
    display: flex;
    flex-direction: column;
  }

  .healthy-recipes {
    grid-template-columns: 1fr;
  }

  .recipe-card picture img {
    width: 100%;
  }

  .select-time-option-wrapper {
    display: flex;
    gap: var(--spacing-150);
    margin-top: var(--spacing-600);
  }

  select {
    width: 320px;
  }

  .search-wrap {
    margin-top: var(--spacing-150);
  }
}

/* Tablet breakpoint */
@media screen and (min-width: 48em) and (max-width: 75.99em) {
  #loader {
    grid-column: 1;
  }
  .explore-our-simple-recipe {
    margin-top: var(--spacing-800);
    margin-bottom: var(--spacing-600);
  }

  .option-wrapper {
    display: flex;
    max-width: 742px;
    margin: auto;
  }

  .healthy-recipes {
    justify-items: center;
  }

  .recipe-card {
    max-width: 746px;
  }
}

/* Desktop breakpoint*/
@media screen and (min-width: 76em) {
  .explore-our-simple-recipe {
    margin-top: var(--spacing-1000);
    margin-bottom: var(--spacing-800);
  }

  .healthy-recipes {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-400);
    align-items: stretch;
  }

  .recipe-card-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  picture img {
    max-width: 360px;
  }

  .recipe-card {
    max-width: 376px;
  }

  .recipe-card > p {
    margin-top: -6px;
  }
}
